* {
    padding: 0;
    margin: 0;
}

:root {
    --prim-color: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    background-color: var(--prim-color);
    color: var(--neutral-black);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid black;
    background-color: var(--neutral-white);
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    max-width: 30vw;
    min-width: 200px;
    padding: 3vw;
}


.card > time,
.card > a {
    display: block;
}

.card > img,
.card > a,
p {
    padding-bottom: 1.7vw;
}


.card > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.category {
    display: inline;
    background-color: var(--prim-color);
    padding: 1vw;
    font-size: clamp(.6rem, 1.5vw, 2rem);
    font-weight: 800;
}

time {
    padding: 1.7vw 0;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.card > a {
    font-weight: 800;
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-decoration: none;
    color: var(--neutral-black);
}

.card > p {
    font-weight: 100;
    font-size: clamp(.6rem, 1.5vw, 2rem);
}

.author {
    display: flex;
    gap:10px;
    align-items: center;
}

.author img {
    max-width: 30px;
    height:auto;
}
.author p {
    padding-top:1.7vw;
    font-size: clamp(.6rem, 1.5vw, 2rem);
    font-weight: 800;
}
.attribution {
    position: fixed;
    bottom: 0;
}